<h1 class="text-center">Deposit</h1>

<div *ngIf="successMessage" class="alert alert-success">
{{successMessage}}
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
{{errorMessage}}
</div>

<div class="col-md-8 offset-md-3">

<form (ngSubmit)="onSubmit()">
    

    <div class="form-group">
        <label for="balance">Balance</label>
        <input type="text" id="balance" name="balance" placeholder="Enter balance" class="form-control"
    
    [(ngModel)]="account.balance"/>

    </div>
    <br>
     
    <button type="submit" class="btn btn-success">Submit</button>

</form>

</div>